
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}


#quiz-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-image: url('https://static5.depositphotos.com/1022214/466/i/450/depositphotos_4661138-stock-photo-question-marks-different-colors-drawn.jpg');
}

h1 {
    font-size: 24px;
}

.question {
    font-size: 18px;
    margin-bottom: 10px;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.option {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.option:hover {
    background-color: #ddd;
}

#submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#submit-btn:hover {
    background-color: #0056b3;
}

#score {
    font-size: 20px;
    margin-top: 20px;
}
